.choices {
    font-size: 30px;
}

.container div {
    margin: 10px;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 25px;
    font-size: 15px;
}