.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.post {
    width: 20%;
    height: 120%;
}

@media (max-width: 1140px) {
    .post {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .post {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .post {
        width: 100%;
    }
}