.container {
  width: 100vw;
}

.genre {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobile {
  display: block;
}

.computer {
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  font-size: 25px;
}

.computer div {
  cursor: pointer;
}

.computer div:hover {
  background-color: #3498db;
  color: white;
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  .computer {
    display: flex;
  }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.translationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.input:checked + .slider {
    background-color: #2196F3;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
}

.searchButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px 0;
}

.searchButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.searchButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}