.container {
    text-align: center;
}

.rating_container div {
    display: inline-flex;
    margin-right: 24px;
}

.rating_container label {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}